<a href="https://colab.research.google.com/github/Meisam-Heidari/reCLAIM-2019-Competition/blob/master/EDA_Meisam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy  as np
import pandas as pd

In [3]:
print("hi")

hi

In [4]:
print('hi Meisam')

hi Meisam

In [5]:
#from google.colab import drive
#drive.mount('/gdrive')
#%cd /gdrive

# Regression DataSet

## Loading

In [6]:
#df_reg_header_test = pd.read_csv("/gdrive/My Drive/reCLAIM 2019 Competition/regression_comp_starter_kit/regression_comp_starter_kit/Header - test.txt")
#df_reg_header_train = pd.read_csv("/gdrive/My Drive/reCLAIM 2019 Competition/regression_comp_starter_kit/regression_comp_starter_kit/Header - train.txt")
#df_reg_header_validation = pd.read_csv("/gdrive/My Drive/reCLAIM 2019 Competition/regression_comp_starter_kit/regression_comp_starter_kit/Header - validation.txt")
#df_reg_viking_train = pd.read_csv("/gdrive/My Drive/reCLAIM 2019 Competition/regression_comp_starter_kit/regression_comp_starter_kit/Viking - Train.txt")
#df_reg_viking_validation = pd.read_csv("/gdrive/My Drive/reCLAIM 2019 Competition/regression_comp_starter_kit/regression_comp_starter_kit/Viking - Validation.txt")

In [10]:
df_reg_header_test = pd.read_csv("regression/Header - test.txt")
df_reg_header_train = pd.read_csv("regression/Header - train.txt")
df_reg_header_validation = pd.read_csv("regression/Header - validation.txt")
df_reg_viking_train = pd.read_csv("regression/Viking - Train.txt")
df_reg_viking_validation = pd.read_csv("regression/Viking - Validation.txt")

In [11]:
df_reg_header_test.head(2)

,EPAssetsId,Province,LicenceNumber,UWI,CurrentOperator,CurrentOperatorParent,CurrentOperatorID,Licensee,LicenseeParentCompany,LicenseeID,...,UnitID,UnitName,UnitFlag,Municipality,CompletionDate,Agent,_Max`Prod`(BOE),_Fracture`Stages,_Open`Hole,_Completion`Events
0,2367432,Alberta,0195212,102032605705W400,Canadian Natural Resources Limited,159,NaN,Canadian Natural Resources Limited,159,NaN,...,NaN,NaN,No,NaN,NaN,Unspecified,NaN,NaN,CasedCompleted,NaN
1,2475476,Alberta,0264445,100023507714W400,Canadian Natural Resources Limited,159,NaN,Point Loma Resources Ltd.,8932,NaN,...,NaN,NaN,No,NaN,NaN,Unspecified,NaN,NaN,CasedCompleted,NaN

In [12]:
df_reg_viking_train.head(2)

,EPAssetsId,UWI,_Normalized`IP`BOE/d,_Normalized`IP`(Oil`-`Bbls),_Normalized`IP`Gas`(Boe/d),_Normalized`IP`(Water`-`Bbls)
0,2600565,100010303502W400,39.572937,25.384235,14.188702,NaN
1,2596704,100032903508W400,51.604687,41.061911,10.542776,NaN

In [13]:
df_reg_header_validation.head(2)

,EPAssetsId,Province,LicenceNumber,UWI,CurrentOperator,CurrentOperatorParent,CurrentOperatorID,Licensee,LicenseeParentCompany,LicenseeID,...,UnitID,UnitName,UnitFlag,Municipality,CompletionDate,Agent,_Max`Prod`(BOE),_Fracture`Stages,_Open`Hole,_Completion`Events
0,2613166,Alberta,0489475,100080908107W600,Tourmaline Oil Corp.,1312,NaN,Tourmaline Oil Corp.,1312,NaN,...,NaN,NaN,No,NaN,NaN,Unspecified,323.102814,NaN,CasedCompleted,NaN
1,1138968,Saskatchewan,84J179,111061201929W302,Canadian Natural Resources,159,50449.0,Canadian Natural Resources Limited,159,NaN,...,NaN,NaN,No,Deer Forks,10/26/1984 12:00:00 AM,Not Available,0.627818,NaN,CasedCompleted,NaN

In [14]:
headers = []
for i in range(len(df_reg_header_train.columns)):
  headers.append([df_reg_header_train.columns[i],df_reg_header_validation.columns[i],df_reg_header_test.columns[i]])
headers

[['EPAssetsId', 'EPAssetsId', 'EPAssetsId'],
 ['Province', 'Province', 'Province'],
 ['LicenceNumber', 'LicenceNumber', 'LicenceNumber'],
 ['UWI', 'UWI', 'UWI'],
 ['CurrentOperator', 'CurrentOperator', 'CurrentOperator'],
 ['CurrentOperatorParent', 'CurrentOperatorParent', 'CurrentOperatorParent'],
 ['CurrentOperatorID', 'CurrentOperatorID', 'CurrentOperatorID'],
 ['Licensee', 'Licensee', 'Licensee'],
 ['LicenseeParentCompany', 'LicenseeParentCompany', 'LicenseeParentCompany'],
 ['LicenseeID', 'LicenseeID', 'LicenseeID'],
 ['LicenceDate', 'LicenceDate', 'LicenceDate'],
 ['WellType', 'WellType', 'WellType'],
 ['WellTypeStandardised', 'WellTypeStandardised', 'WellTypeStandardised'],
 ['ConfidentialReleaseDate',
  'ConfidentialReleaseDate',
  'ConfidentialReleaseDate'],
 ['SurfAbandonDate', 'SurfAbandonDate', 'SurfAbandonDate'],
 ['WellName', 'WellName', 'WellName'],
 ['WellNameAmended', 'WellNameAmended', 'WellNameAmended'],
 ['Formation', 'Formation', 'Formation'],
 ['Field', 'Field', 'Field'],
 ['Pool', 'Pool', 'Pool'],
 ['SurveySystem', 'SurveySystem', 'SurveySystem'],
 ['Surf_Location', 'Surf_Location', 'Surf_Location'],
 ['Surf_Township', 'Surf_Township', 'Surf_Township'],
 ['Surf_Meridian', 'Surf_Meridian', 'Surf_Meridian'],
 ['Surf_Range', 'Surf_Range', 'Surf_Range'],
 ['Surf_Section', 'Surf_Section', 'Surf_Section'],
 ['Surf_LSD', 'Surf_LSD', 'Surf_LSD'],
 ['Surf_Longitude', 'Surf_Longitude', 'Surf_Longitude'],
 ['Surf_Latitude', 'Surf_Latitude', 'Surf_Latitude'],
 ['Surf_TownshipRange', 'Surf_TownshipRange', 'Surf_TownshipRange'],
 ['Surf_QuarterUnit', 'Surf_QuarterUnit', 'Surf_QuarterUnit'],
 ['Surf_Unit', 'Surf_Unit', 'Surf_Unit'],
 ['Surf_Block', 'Surf_Block', 'Surf_Block'],
 ['Surf_NTSMapSheet', 'Surf_NTSMapSheet', 'Surf_NTSMapSheet'],
 ['Surf_Series', 'Surf_Series', 'Surf_Series'],
 ['Surf_Area', 'Surf_Area', 'Surf_Area'],
 ['Surf_Sheet', 'Surf_Sheet', 'Surf_Sheet'],
 ['Surf_QuarterSection', 'Surf_QuarterSection', 'Surf_QuarterSection'],
 ['BH_Location', 'BH_Location', 'BH_Location'],
 ['BH_TownshipRange', 'BH_TownshipRange', 'BH_TownshipRange'],
 ['BH_QuarterUnit', 'BH_QuarterUnit', 'BH_QuarterUnit'],
 ['BH_Unit', 'BH_Unit', 'BH_Unit'],
 ['BH_Block', 'BH_Block', 'BH_Block'],
 ['BH_NTSMapSheet', 'BH_NTSMapSheet', 'BH_NTSMapSheet'],
 ['BH_Series', 'BH_Series', 'BH_Series'],
 ['BH_Area', 'BH_Area', 'BH_Area'],
 ['BH_Sheet', 'BH_Sheet', 'BH_Sheet'],
 ['BH_QuarterSection', 'BH_QuarterSection', 'BH_QuarterSection'],
 ['BH_Longitude', 'BH_Longitude', 'BH_Longitude'],
 ['BH_Latitude', 'BH_Latitude', 'BH_Latitude'],
 ['BH_Township', 'BH_Township', 'BH_Township'],
 ['BH_Meridian', 'BH_Meridian', 'BH_Meridian'],
 ['BH_Range', 'BH_Range', 'BH_Range'],
 ['BH_Section', 'BH_Section', 'BH_Section'],
 ['BH_LSD', 'BH_LSD', 'BH_LSD'],
 ['GroundElevation', 'GroundElevation', 'GroundElevation'],
 ['KBElevation', 'KBElevation', 'KBElevation'],
 ['TotalDepth', 'TotalDepth', 'TotalDepth'],
 ['LaheeClass', 'LaheeClass', 'LaheeClass'],
 ['Confidential', 'Confidential', 'Confidential'],
 ['SurfaceOwner', 'SurfaceOwner', 'SurfaceOwner'],
 ['OSArea', 'OSArea', 'OSArea'],
 ['OSDeposit', 'OSDeposit', 'OSDeposit'],
 ['DrillingContractor', 'DrillingContractor', 'DrillingContractor'],
 ['SpudDate', 'SpudDate', 'SpudDate'],
 ['FinalDrillDate', 'FinalDrillDate', 'FinalDrillDate'],
 ['RigReleaseDate', 'RigReleaseDate', 'RigReleaseDate'],
 ['DaysDrilling', 'DaysDrilling', 'DaysDrilling'],
 ['DrillMetresPerDay', 'DrillMetresPerDay', 'DrillMetresPerDay'],
 ['TVD', 'TVD', 'TVD'],
 ['WellProfile', 'WellProfile', 'WellProfile'],
 ['WellSymbPt1', 'WellSymbPt1', 'WellSymbPt1'],
 ['Country', 'Country', 'Country'],
 ['RegulatoryAgency', 'RegulatoryAgency', 'RegulatoryAgency'],
 ['NumberofWells', 'NumberofWells', 'NumberofWells'],
 ['PSACAreaCode', 'PSACAreaCode', 'PSACAreaCode'],
 ['PSACAreaName', 'PSACAreaName', 'PSACAreaName'],
 ['ProjectedDepth', 'ProjectedDepth', 'ProjectedDepth'],
 ['StatusDate', 'StatusDate', 'StatusDate'],
 ['StatusSource', 'StatusSource', 'StatusSource'],
 ['UnitID', 'UnitID', 'UnitID'],
 ['UnitName', 'UnitName', 'UnitName'],
 ['UnitFlag', 'UnitFlag', 'UnitFlag'],
 ['Municipality', 'Municipality', 'Municipality'],
 ['CompletionDate', 'CompletionDate', 'CompletionDate'],
 ['Agent', 'Agent', 'Agent'],
 ['_Max`Prod`(BOE)', '_Max`Prod`(BOE)', '_Max`Prod`(BOE)'],
 ['_Fracture`Stages', '_Fracture`Stages', '_Fracture`Stages'],
 ['_Open`Hole', '_Open`Hole', '_Open`Hole'],
 ['_Completion`Events', '_Completion`Events', '_Completion`Events']]

## Header Test file

In [15]:
df_reg_header_test.shape

(118076, 90)

In [16]:
df_reg_header_test.nunique()

EPAssetsId            118076
Province                   4
LicenceNumber         112547
UWI                   116725
CurrentOperator          860
                       ...
Agent                    356
_Max`Prod`(BOE)        21636
_Fracture`Stages          89
_Open`Hole                 2
_Completion`Events       174
Length: 90, dtype: int64

In [17]:
df_reg_header_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118076 entries, 0 to 118075
Data columns (total 90 columns):
EPAssetsId                 118076 non-null int64
Province                   118076 non-null object
LicenceNumber              118076 non-null object
UWI                        118076 non-null object
CurrentOperator            118076 non-null object
CurrentOperatorParent      118076 non-null int64
CurrentOperatorID          25138 non-null float64
Licensee                   118076 non-null object
LicenseeParentCompany      118076 non-null int64
LicenseeID                 1667 non-null float64
LicenceDate                118074 non-null object
WellType                   118076 non-null object
WellTypeStandardised       118076 non-null object
ConfidentialReleaseDate    62998 non-null object
SurfAbandonDate            26822 non-null object
WellName                   117976 non-null object
WellNameAmended            117976 non-null object
Formation                  118076 non-null object
Field                      118076 non-null object
Pool                       118031 non-null object
SurveySystem               118076 non-null object
Surf_Location              118014 non-null object
Surf_Township              118076 non-null object
Surf_Meridian              118076 non-null object
Surf_Range                 118076 non-null object
Surf_Section               118076 non-null object
Surf_LSD                   118076 non-null object
Surf_Longitude             118076 non-null float64
Surf_Latitude              118075 non-null float64
Surf_TownshipRange         118076 non-null object
Surf_QuarterUnit           118076 non-null object
Surf_Unit                  118076 non-null object
Surf_Block                 118076 non-null object
Surf_NTSMapSheet           118076 non-null object
Surf_Series                118076 non-null object
Surf_Area                  118076 non-null object
Surf_Sheet                 118076 non-null object
Surf_QuarterSection        118076 non-null object
BH_Location                118076 non-null object
BH_TownshipRange           118076 non-null object
BH_QuarterUnit             118075 non-null object
BH_Unit                    118075 non-null object
BH_Block                   118075 non-null object
BH_NTSMapSheet             118076 non-null object
BH_Series                  118075 non-null object
BH_Area                    118075 non-null object
BH_Sheet                   118075 non-null object
BH_QuarterSection          111761 non-null object
BH_Longitude               111198 non-null float64
BH_Latitude                111198 non-null float64
BH_Township                118074 non-null object
BH_Meridian                118076 non-null object
BH_Range                   118074 non-null object
BH_Section                 118074 non-null object
BH_LSD                     118074 non-null object
GroundElevation            118017 non-null float64
KBElevation                116054 non-null float64
TotalDepth                 116727 non-null float64
LaheeClass                 118076 non-null object
Confidential               118076 non-null object
SurfaceOwner               115971 non-null object
OSArea                     111582 non-null object
OSDeposit                  111582 non-null object
DrillingContractor         117733 non-null object
SpudDate                   113070 non-null object
FinalDrillDate             107921 non-null object
RigReleaseDate             95545 non-null object
DaysDrilling               112785 non-null float64
DrillMetresPerDay          118070 non-null float64
TVD                        110450 non-null float64
WellProfile                118076 non-null object
WellSymbPt1                118076 non-null object
Country                    118076 non-null object
RegulatoryAgency           118076 non-null object
NumberofWells              118076 non-null int64
PSACAreaCode               118076 non-null object
PSACAreaName               118076 non-null object
ProjectedDepth             84586 non-null float64
StatusDate                 118057 non-null object
StatusSource               118076 non-null object
UnitID                     9312 non-null object
UnitName                   9312 non-null object
UnitFlag                   111537 non-null object
Municipality               24326 non-null object
CompletionDate             23871 non-null object
Agent                      118076 non-null object
_Max`Prod`(BOE)            40188 non-null float64
_Fracture`Stages           1595 non-null float64
_Open`Hole                 118076 non-null object
_Completion`Events         3422 non-null float64
dtypes: float64(16), int64(4), object(70)
memory usage: 81.1+ MB

## Header Validation File

In [18]:
df_reg_header_validation.shape

(132131, 90)

In [19]:
df_reg_header_validation.nunique()

EPAssetsId            132131
Province                   4
LicenceNumber         125962
UWI                   130765
CurrentOperator          913
                       ...
Agent                    439
_Max`Prod`(BOE)        21560
_Fracture`Stages          86
_Open`Hole                 2
_Completion`Events       170
Length: 90, dtype: int64

In [20]:
df_reg_header_validation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132131 entries, 0 to 132130
Data columns (total 90 columns):
EPAssetsId                 132131 non-null int64
Province                   132131 non-null object
LicenceNumber              132131 non-null object
UWI                        132130 non-null object
CurrentOperator            132131 non-null object
CurrentOperatorParent      132131 non-null int64
CurrentOperatorID          27993 non-null float64
Licensee                   132131 non-null object
LicenseeParentCompany      132131 non-null int64
LicenseeID                 2031 non-null float64
LicenceDate                132126 non-null object
WellType                   132131 non-null object
WellTypeStandardised       132131 non-null object
ConfidentialReleaseDate    69272 non-null object
SurfAbandonDate            35942 non-null object
WellName                   132034 non-null object
WellNameAmended            132034 non-null object
Formation                  132131 non-null object
Field                      132131 non-null object
Pool                       132086 non-null object
SurveySystem               132131 non-null object
Surf_Location              132066 non-null object
Surf_Township              132131 non-null object
Surf_Meridian              132131 non-null object
Surf_Range                 132131 non-null object
Surf_Section               132131 non-null object
Surf_LSD                   132131 non-null object
Surf_Longitude             132131 non-null float64
Surf_Latitude              132131 non-null float64
Surf_TownshipRange         132131 non-null object
Surf_QuarterUnit           132131 non-null object
Surf_Unit                  132131 non-null object
Surf_Block                 132131 non-null object
Surf_NTSMapSheet           132131 non-null object
Surf_Series                132131 non-null object
Surf_Area                  132131 non-null object
Surf_Sheet                 132131 non-null object
Surf_QuarterSection        132131 non-null object
BH_Location                132131 non-null object
BH_TownshipRange           132131 non-null object
BH_QuarterUnit             132131 non-null object
BH_Unit                    132131 non-null object
BH_Block                   132131 non-null object
BH_NTSMapSheet             132131 non-null object
BH_Series                  132131 non-null object
BH_Area                    132131 non-null object
BH_Sheet                   132131 non-null object
BH_QuarterSection          125660 non-null object
BH_Longitude               125082 non-null float64
BH_Latitude                125082 non-null float64
BH_Township                132130 non-null object
BH_Meridian                132130 non-null object
BH_Range                   132130 non-null object
BH_Section                 132130 non-null object
BH_LSD                     132130 non-null object
GroundElevation            132063 non-null float64
KBElevation                130049 non-null float64
TotalDepth                 130804 non-null float64
LaheeClass                 132131 non-null object
Confidential               132131 non-null object
SurfaceOwner               129623 non-null object
OSArea                     125492 non-null object
OSDeposit                  125492 non-null object
DrillingContractor         131793 non-null object
SpudDate                   126993 non-null object
FinalDrillDate             121664 non-null object
RigReleaseDate             103043 non-null object
DaysDrilling               126724 non-null float64
DrillMetresPerDay          132123 non-null float64
TVD                        124373 non-null float64
WellProfile                132131 non-null object
WellSymbPt1                132131 non-null object
Country                    132131 non-null object
RegulatoryAgency           132131 non-null object
NumberofWells              132131 non-null int64
PSACAreaCode               132131 non-null object
PSACAreaName               132131 non-null object
ProjectedDepth             88458 non-null float64
StatusDate                 132108 non-null object
StatusSource               132131 non-null object
UnitID                     9794 non-null object
UnitName                   9794 non-null object
UnitFlag                   125445 non-null object
Municipality               25908 non-null object
CompletionDate             24530 non-null object
Agent                      132131 non-null object
_Max`Prod`(BOE)            40211 non-null float64
_Fracture`Stages           1630 non-null float64
_Open`Hole                 132131 non-null object
_Completion`Events         3487 non-null float64
dtypes: float64(16), int64(4), object(70)
memory usage: 90.7+ MB

## Header train File

In [21]:
df_reg_header_train.shape

(588673, 90)

In [22]:
df_reg_header_train.nunique()

EPAssetsId            588673
Province                   4
LicenceNumber         485571
UWI                   582171
CurrentOperator         1468
                       ...
Agent                    929
_Max`Prod`(BOE)        86073
_Fracture`Stages         131
_Open`Hole                 2
_Completion`Events       305
Length: 90, dtype: int64

In [23]:
df_reg_header_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 588673 entries, 0 to 588672
Data columns (total 90 columns):
EPAssetsId                 588673 non-null int64
Province                   588673 non-null object
LicenceNumber              588673 non-null object
UWI                        588673 non-null object
CurrentOperator            588673 non-null object
CurrentOperatorParent      588673 non-null int64
CurrentOperatorID          124038 non-null float64
Licensee                   588673 non-null object
LicenseeParentCompany      588673 non-null int64
LicenseeID                 8537 non-null float64
LicenceDate                588664 non-null object
WellType                   588673 non-null object
WellTypeStandardised       588673 non-null object
ConfidentialReleaseDate    310703 non-null object
SurfAbandonDate            149148 non-null object
WellName                   588206 non-null object
WellNameAmended            588206 non-null object
Formation                  588673 non-null object
Field                      588673 non-null object
Pool                       588442 non-null object
SurveySystem               588673 non-null object
Surf_Location              588366 non-null object
Surf_Township              588673 non-null object
Surf_Meridian              588673 non-null object
Surf_Range                 588673 non-null object
Surf_Section               588673 non-null object
Surf_LSD                   588673 non-null object
Surf_Longitude             588673 non-null float64
Surf_Latitude              588673 non-null float64
Surf_TownshipRange         588673 non-null object
Surf_QuarterUnit           588673 non-null object
Surf_Unit                  588673 non-null object
Surf_Block                 588673 non-null object
Surf_NTSMapSheet           588673 non-null object
Surf_Series                588673 non-null object
Surf_Area                  588673 non-null object
Surf_Sheet                 588673 non-null object
Surf_QuarterSection        588673 non-null object
BH_Location                588673 non-null object
BH_TownshipRange           588673 non-null object
BH_QuarterUnit             588673 non-null object
BH_Unit                    588673 non-null object
BH_Block                   588673 non-null object
BH_NTSMapSheet             588673 non-null object
BH_Series                  588673 non-null object
BH_Area                    588673 non-null object
BH_Sheet                   588673 non-null object
BH_QuarterSection          558395 non-null object
BH_Longitude               555782 non-null float64
BH_Latitude                555782 non-null float64
BH_Township                588668 non-null object
BH_Meridian                588673 non-null object
BH_Range                   588668 non-null object
BH_Section                 588668 non-null object
BH_LSD                     588668 non-null object
GroundElevation            588371 non-null float64
KBElevation                579272 non-null float64
TotalDepth                 582541 non-null float64
LaheeClass                 588673 non-null object
Confidential               588673 non-null object
SurfaceOwner               577873 non-null object
OSArea                     557634 non-null object
OSDeposit                  557634 non-null object
DrillingContractor         587108 non-null object
SpudDate                   564917 non-null object
FinalDrillDate             540114 non-null object
RigReleaseDate             465455 non-null object
DaysDrilling               563617 non-null float64
DrillMetresPerDay          588630 non-null float64
TVD                        552435 non-null float64
WellProfile                588673 non-null object
WellSymbPt1                588673 non-null object
Country                    588673 non-null object
RegulatoryAgency           588673 non-null object
NumberofWells              588673 non-null int64
PSACAreaCode               588673 non-null object
PSACAreaName               588673 non-null object
ProjectedDepth             404812 non-null float64
StatusDate                 588603 non-null object
StatusSource               588673 non-null object
UnitID                     44299 non-null object
UnitName                   44299 non-null object
UnitFlag                   557380 non-null object
Municipality               116651 non-null object
CompletionDate             113144 non-null object
Agent                      588673 non-null object
_Max`Prod`(BOE)            187602 non-null float64
_Fracture`Stages           7685 non-null float64
_Open`Hole                 588673 non-null object
_Completion`Events         16329 non-null float64
dtypes: float64(16), int64(4), object(70)
memory usage: 404.2+ MB

## Viking train File

In [24]:
df_reg_viking_train.shape

(6256, 6)

In [25]:
df_reg_viking_train.nunique()

EPAssetsId                       6256
UWI                              6256
_Normalized`IP`BOE/d             6253
_Normalized`IP`(Oil`-`Bbls)      5764
_Normalized`IP`Gas`(Boe/d)       6022
_Normalized`IP`(Water`-`Bbls)    3603
dtype: int64

In [26]:
df_reg_viking_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6256 entries, 0 to 6255
Data columns (total 6 columns):
EPAssetsId                       6256 non-null int64
UWI                              6256 non-null object
_Normalized`IP`BOE/d             6255 non-null float64
_Normalized`IP`(Oil`-`Bbls)      6188 non-null float64
_Normalized`IP`Gas`(Boe/d)       6226 non-null float64
_Normalized`IP`(Water`-`Bbls)    4715 non-null float64
dtypes: float64(4), int64(1), object(1)
memory usage: 293.4+ KB

In [27]:
df_reg_viking_train.head(50)

,EPAssetsId,UWI,_Normalized`IP`BOE/d,_Normalized`IP`(Oil`-`Bbls),_Normalized`IP`Gas`(Boe/d),_Normalized`IP`(Water`-`Bbls)
0,2600565,100010303502W400,39.572937,25.384235,14.188702,NaN
1,2596704,100032903508W400,51.604687,41.061911,10.542776,NaN
2,2605931,100130303504W400,34.712815,17.344473,17.368342,NaN
3,1167486,101093102926W300,18.243091,17.986731,0.256359,NaN
4,1163017,101023502926W300,31.348512,28.123094,3.225418,NaN
5,1151629,192063203019W300,34.136233,33.099024,1.037208,NaN
6,2613054,103123203408W400,24.459689,21.395803,3.063886,NaN
7,1152209,191071803227W300,43.766049,24.240889,19.525160,NaN
8,1170236,101141303020W300,9.285127,9.040539,0.244588,NaN
9,1148254,191012503323W300,9.261979,8.333985,0.927994,NaN
10,1164104,101151403223W300,13.747200,8.134109,5.613091,NaN
11,1160917,101163102619W300,36.793610,34.966396,1.827214,NaN
12,2596763,102041505621W400,5.100642,4.514679,0.585964,NaN
13,2595446,102043605622W400,16.799890,15.270237,1.529654,NaN
14,2596829,102081205823W400,3.111268,1.766036,1.345232,NaN
15,1145971,191082602518W300,10.120451,9.216654,0.903797,NaN
16,2581711,102133203201W400,48.075173,24.771329,23.303844,NaN
17,1165816,103073003219W300,11.449882,7.270310,4.179572,NaN
18,1167894,103162203019W300,19.603046,19.254476,0.348570,NaN
19,1019118,191011203320W300,15.283504,13.837560,1.445944,NaN
20,1146752,191020502614W300,4.998548,4.829169,0.169380,NaN
21,1145580,191022803227W300,16.095800,4.186211,11.909589,NaN
22,1146768,191140102618W300,21.965936,19.174106,2.791831,NaN
23,1078138,191111903120W300,1.902684,1.134261,0.768423,NaN
24,1078400,191132503220W300,5.241910,2.488664,2.753246,NaN
25,1149177,192070203424W300,14.714038,13.870407,0.843631,NaN
26,1160511,101082302619W300,23.926650,21.843078,2.083573,NaN
27,1147505,191142103228W300,23.471918,9.611513,13.860404,NaN
28,1145984,191130302618W300,18.429383,13.474848,4.954535,NaN
29,1150577,192012903020W300,43.014430,40.874615,2.139815,NaN
30,1168349,103163303119W300,14.074231,5.630070,8.444161,NaN
31,2579717,100153103403W400,29.956139,15.649721,14.306417,NaN
32,1149838,192151403424W300,17.347048,16.590396,0.756652,NaN
33,1166489,101050303023W300,19.223394,14.392460,4.830934,NaN
34,1074415,191091302619W300,5.007165,4.230240,0.776925,NaN
35,1169544,105112402620W300,10.088031,10.076260,0.011772,NaN
36,1160667,101112103219W300,30.802566,18.503893,11.003830,NaN
37,1151328,192160602618W300,27.077344,26.473069,0.604275,NaN
38,1162833,104140503023W300,26.494865,22.882292,3.612573,NaN
39,2275408,100043204502W400,4.120059,NaN,4.120059,NaN
40,1160903,103143003022W300,26.090011,24.795789,1.294222,NaN
41,2596765,104151505621W400,17.348868,16.018024,1.330844,NaN
42,1159668,103102203021W300,19.648931,19.052503,0.596428,NaN
43,1163119,101032703324W300,22.113845,19.776529,2.337316,NaN
44,1147871,191123603024W300,23.464503,9.893157,13.571346,NaN
45,2245263,100080404008W500,8.648816,1.017550,7.631266,NaN
46,2613286,102131503403W400,14.830393,9.308205,5.522188,NaN
47,1141746,191101503323W300,7.992822,7.410782,0.582040,NaN
48,2578830,100011403302W400,9.681792,6.470108,3.211684,NaN
49,1164869,101070903021W300,7.178356,6.795779,0.382577,NaN

In [28]:
df_reg_viking_train.describe()

,EPAssetsId,_Normalized`IP`BOE/d,_Normalized`IP`(Oil`-`Bbls),_Normalized`IP`Gas`(Boe/d),_Normalized`IP`(Water`-`Bbls)
count,6.256000e+03,6255.000000,6188.000000,6226.000000,4715.000000
mean,1.417648e+06,18.157087,13.684165,4.549794,4.349329
std,5.444449e+05,29.199687,10.101463,26.598270,14.727120
min,1.014997e+06,0.002097,0.002097,0.000654,0.000699
25%,1.142534e+06,8.134660,6.257477,0.773001,0.731364
50%,1.152618e+06,14.652701,11.702173,1.782089,1.775121
75%,1.169602e+06,22.894202,18.903120,3.804842,3.873818
max,2.618019e+06,1178.290598,141.004736,1132.220609,568.681085

## Viking validation File

In [29]:
df_reg_viking_validation.shape

(1329, 6)

In [30]:
df_reg_viking_validation.nunique()

EPAssetsId                       1329
UWI                              1329
_Normalized`IP`BOE/d             1326
_Normalized`IP`(Oil`-`Bbls)      1299
_Normalized`IP`Gas`(Boe/d)       1317
_Normalized`IP`(Water`-`Bbls)     961
dtype: int64

In [31]:
df_reg_viking_validation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1329 entries, 0 to 1328
Data columns (total 6 columns):
EPAssetsId                       1329 non-null int64
UWI                              1329 non-null object
_Normalized`IP`BOE/d             1326 non-null float64
_Normalized`IP`(Oil`-`Bbls)      1319 non-null float64
_Normalized`IP`Gas`(Boe/d)       1323 non-null float64
_Normalized`IP`(Water`-`Bbls)    1029 non-null float64
dtypes: float64(4), int64(1), object(1)
memory usage: 62.4+ KB

In [32]:
df_reg_viking_validation.head()

,EPAssetsId,UWI,_Normalized`IP`BOE/d,_Normalized`IP`(Oil`-`Bbls),_Normalized`IP`Gas`(Boe/d),_Normalized`IP`(Water`-`Bbls)
0,1015000,192093002414W300,7.495685,6.971195,0.524490,3.594271
1,1015254,191122402515W300,12.446692,11.223100,1.223592,3.472668
2,1015255,192122402515W300,8.137377,7.472282,0.665095,3.473367
3,1018074,191103603119W300,1.903889,1.621371,0.282518,0.450769
4,1018085,191113003219W300,8.924426,2.966689,5.957737,0.366905

In [33]:
df_reg_viking_validation.describe()

,EPAssetsId,_Normalized`IP`BOE/d,_Normalized`IP`(Oil`-`Bbls),_Normalized`IP`Gas`(Boe/d),_Normalized`IP`(Water`-`Bbls)
count,1.329000e+03,1326.000000,1319.000000,1323.000000,1029.000000
mean,1.385488e+06,18.173413,13.887741,4.284824,3.721174
std,5.216820e+05,24.373845,10.433095,19.488136,6.621853
min,1.015000e+06,0.008297,0.006989,0.000654,0.000699
25%,1.142528e+06,8.518564,6.618267,0.793929,0.747088
50%,1.151692e+06,14.523771,11.611670,1.756584,1.696149
75%,1.168002e+06,22.349601,18.816636,3.680587,3.918545
max,2.616194e+06,693.076163,101.906641,594.930124,81.963782

# Classification DataSet

## Loading

In [35]:
#df_clas_header_test = pd.read_csv("/gdrive/My Drive/reCLAIM 2019 Competition/classification_comp_starter_kit/classification_comp_starter_kit/Header - test.txt")
#df_clas_header_train = pd.read_csv("/gdrive/My Drive/reCLAIM 2019 Competition/classification_comp_starter_kit/classification_comp_starter_kit/Header - train.txt")
#df_clas_header_validation = pd.read_csv("/gdrive/My Drive/reCLAIM 2019 Competition/classification_comp_starter_kit/classification_comp_starter_kit/Header - validation.txt")
#df_clas_well_class_train = pd.read_csv("/gdrive/My Drive/reCLAIM 2019 Competition/classification_comp_starter_kit/classification_comp_starter_kit/Well_class_train.txt")
#df_clas_well_class_validation = pd.read_csv("/gdrive/My Drive/reCLAIM 2019 Competition/classification_comp_starter_kit/classification_comp_starter_kit/Well_class_validate.txt")

In [36]:
df_clas_header_test = pd.read_csv("classification/Header - test.txt")
df_clas_header_train = pd.read_csv("classification/Header - train.txt")
df_clas_header_validation = pd.read_csv("classification/Header - validation.txt")
df_clas_well_class_train = pd.read_csv("classification/Well_class_train.txt")
df_clas_well_class_validation = pd.read_csv("classification/Well_class_validate.txt")

In [37]:
df_clas_header_test.head(2)

,EPAssetsId,Province,LicenceNumber,UWI,CurrentOperator,CurrentOperatorParent,CurrentOperatorID,Licensee,LicenseeParentCompany,LicenseeID,...,UnitID,UnitName,UnitFlag,Municipality,CompletionDate,Agent,_Max`Prod`(BOE),_Fracture`Stages,_Open`Hole,_Completion`Events
0,2367432,Alberta,0195212,102032605705W400,Canadian Natural Resources Limited,159,NaN,Canadian Natural Resources Limited,159,NaN,...,NaN,NaN,No,NaN,NaN,Unspecified,NaN,NaN,CasedCompleted,NaN
1,2475476,Alberta,0264445,100023507714W400,Canadian Natural Resources Limited,159,NaN,Point Loma Resources Ltd.,8932,NaN,...,NaN,NaN,No,NaN,NaN,Unspecified,NaN,NaN,CasedCompleted,NaN

In [40]:
df_clas_well_class_train.head(2)

   EPAssetsId well_status  well_status_code
0     2314251   Suspended                 2
1     2341273      Active                 1

In [41]:
df_clas_well_class_validation.head(2)

   EPAssetsId well_status  well_status_code
0           9   Suspended                 2
1          17      Active                 1

In [42]:
headers = []
for i in range(len(df_clas_header_train.columns)):
  headers.append([df_clas_header_train.columns[i],df_clas_header_validation.columns[i],df_clas_header_test.columns[i]])
headers

[['EPAssetsId', 'EPAssetsId', 'EPAssetsId'],
 ['Province', 'Province', 'Province'],
 ['LicenceNumber', 'LicenceNumber', 'LicenceNumber'],
 ['UWI', 'UWI', 'UWI'],
 ['CurrentOperator', 'CurrentOperator', 'CurrentOperator'],
 ['CurrentOperatorParent', 'CurrentOperatorParent', 'CurrentOperatorParent'],
 ['CurrentOperatorID', 'CurrentOperatorID', 'CurrentOperatorID'],
 ['Licensee', 'Licensee', 'Licensee'],
 ['LicenseeParentCompany', 'LicenseeParentCompany', 'LicenseeParentCompany'],
 ['LicenseeID', 'LicenseeID', 'LicenseeID'],
 ['LicenceDate', 'LicenceDate', 'LicenceDate'],
 ['WellType', 'WellType', 'WellType'],
 ['WellTypeStandardised', 'WellTypeStandardised', 'WellTypeStandardised'],
 ['ConfidentialReleaseDate',
  'ConfidentialReleaseDate',
  'ConfidentialReleaseDate'],
 ['SurfAbandonDate', 'SurfAbandonDate', 'SurfAbandonDate'],
 ['WellName', 'WellName', 'WellName'],
 ['WellNameAmended', 'WellNameAmended', 'WellNameAmended'],
 ['Formation', 'Formation', 'Formation'],
 ['Field', 'Field', 'Field'],
 ['Pool', 'Pool', 'Pool'],
 ['SurveySystem', 'SurveySystem', 'SurveySystem'],
 ['Surf_Location', 'Surf_Location', 'Surf_Location'],
 ['Surf_Township', 'Surf_Township', 'Surf_Township'],
 ['Surf_Meridian', 'Surf_Meridian', 'Surf_Meridian'],
 ['Surf_Range', 'Surf_Range', 'Surf_Range'],
 ['Surf_Section', 'Surf_Section', 'Surf_Section'],
 ['Surf_LSD', 'Surf_LSD', 'Surf_LSD'],
 ['Surf_Longitude', 'Surf_Longitude', 'Surf_Longitude'],
 ['Surf_Latitude', 'Surf_Latitude', 'Surf_Latitude'],
 ['Surf_TownshipRange', 'Surf_TownshipRange', 'Surf_TownshipRange'],
 ['Surf_QuarterUnit', 'Surf_QuarterUnit', 'Surf_QuarterUnit'],
 ['Surf_Unit', 'Surf_Unit', 'Surf_Unit'],
 ['Surf_Block', 'Surf_Block', 'Surf_Block'],
 ['Surf_NTSMapSheet', 'Surf_NTSMapSheet', 'Surf_NTSMapSheet'],
 ['Surf_Series', 'Surf_Series', 'Surf_Series'],
 ['Surf_Area', 'Surf_Area', 'Surf_Area'],
 ['Surf_Sheet', 'Surf_Sheet', 'Surf_Sheet'],
 ['Surf_QuarterSection', 'Surf_QuarterSection', 'Surf_QuarterSection'],
 ['BH_Location', 'BH_Location', 'BH_Location'],
 ['BH_TownshipRange', 'BH_TownshipRange', 'BH_TownshipRange'],
 ['BH_QuarterUnit', 'BH_QuarterUnit', 'BH_QuarterUnit'],
 ['BH_Unit', 'BH_Unit', 'BH_Unit'],
 ['BH_Block', 'BH_Block', 'BH_Block'],
 ['BH_NTSMapSheet', 'BH_NTSMapSheet', 'BH_NTSMapSheet'],
 ['BH_Series', 'BH_Series', 'BH_Series'],
 ['BH_Area', 'BH_Area', 'BH_Area'],
 ['BH_Sheet', 'BH_Sheet', 'BH_Sheet'],
 ['BH_QuarterSection', 'BH_QuarterSection', 'BH_QuarterSection'],
 ['BH_Longitude', 'BH_Longitude', 'BH_Longitude'],
 ['BH_Latitude', 'BH_Latitude', 'BH_Latitude'],
 ['BH_Township', 'BH_Township', 'BH_Township'],
 ['BH_Meridian', 'BH_Meridian', 'BH_Meridian'],
 ['BH_Range', 'BH_Range', 'BH_Range'],
 ['BH_Section', 'BH_Section', 'BH_Section'],
 ['BH_LSD', 'BH_LSD', 'BH_LSD'],
 ['GroundElevation', 'GroundElevation', 'GroundElevation'],
 ['KBElevation', 'KBElevation', 'KBElevation'],
 ['TotalDepth', 'TotalDepth', 'TotalDepth'],
 ['LaheeClass', 'LaheeClass', 'LaheeClass'],
 ['Confidential', 'Confidential', 'Confidential'],
 ['SurfaceOwner', 'SurfaceOwner', 'SurfaceOwner'],
 ['OSArea', 'OSArea', 'OSArea'],
 ['OSDeposit', 'OSDeposit', 'OSDeposit'],
 ['DrillingContractor', 'DrillingContractor', 'DrillingContractor'],
 ['SpudDate', 'SpudDate', 'SpudDate'],
 ['FinalDrillDate', 'FinalDrillDate', 'FinalDrillDate'],
 ['RigReleaseDate', 'RigReleaseDate', 'RigReleaseDate'],
 ['DaysDrilling', 'DaysDrilling', 'DaysDrilling'],
 ['DrillMetresPerDay', 'DrillMetresPerDay', 'DrillMetresPerDay'],
 ['TVD', 'TVD', 'TVD'],
 ['WellProfile', 'WellProfile', 'WellProfile'],
 ['WellSymbPt1', 'WellSymbPt1', 'WellSymbPt1'],
 ['Country', 'Country', 'Country'],
 ['RegulatoryAgency', 'RegulatoryAgency', 'RegulatoryAgency'],
 ['NumberofWells', 'NumberofWells', 'NumberofWells'],
 ['PSACAreaCode', 'PSACAreaCode', 'PSACAreaCode'],
 ['PSACAreaName', 'PSACAreaName', 'PSACAreaName'],
 ['ProjectedDepth', 'ProjectedDepth', 'ProjectedDepth'],
 ['StatusDate', 'StatusDate', 'StatusDate'],
 ['StatusSource', 'StatusSource', 'StatusSource'],
 ['UnitID', 'UnitID', 'UnitID'],
 ['UnitName', 'UnitName', 'UnitName'],
 ['UnitFlag', 'UnitFlag', 'UnitFlag'],
 ['Municipality', 'Municipality', 'Municipality'],
 ['CompletionDate', 'CompletionDate', 'CompletionDate'],
 ['Agent', 'Agent', 'Agent'],
 ['_Max`Prod`(BOE)', '_Max`Prod`(BOE)', '_Max`Prod`(BOE)'],
 ['_Fracture`Stages', '_Fracture`Stages', '_Fracture`Stages'],
 ['_Open`Hole', '_Open`Hole', '_Open`Hole'],
 ['_Completion`Events', '_Completion`Events', '_Completion`Events']]

## Header Test file

In [43]:
df_clas_header_test.shape

(118076, 90)

In [44]:
df_clas_header_test.nunique()

EPAssetsId            118076
Province                   4
LicenceNumber         112547
UWI                   116725
CurrentOperator          860
                       ...
Agent                    356
_Max`Prod`(BOE)        21636
_Fracture`Stages          89
_Open`Hole                 2
_Completion`Events       174
Length: 90, dtype: int64

In [45]:
df_clas_header_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118076 entries, 0 to 118075
Data columns (total 90 columns):
EPAssetsId                 118076 non-null int64
Province                   118076 non-null object
LicenceNumber              118076 non-null object
UWI                        118076 non-null object
CurrentOperator            118076 non-null object
CurrentOperatorParent      118076 non-null int64
CurrentOperatorID          25138 non-null float64
Licensee                   118076 non-null object
LicenseeParentCompany      118076 non-null int64
LicenseeID                 1667 non-null float64
LicenceDate                118074 non-null object
WellType                   118076 non-null object
WellTypeStandardised       118076 non-null object
ConfidentialReleaseDate    62998 non-null object
SurfAbandonDate            26822 non-null object
WellName                   117976 non-null object
WellNameAmended            117976 non-null object
Formation                  118076 non-null object
Field                      118076 non-null object
Pool                       118031 non-null object
SurveySystem               118076 non-null object
Surf_Location              118014 non-null object
Surf_Township              118076 non-null object
Surf_Meridian              118076 non-null object
Surf_Range                 118076 non-null object
Surf_Section               118076 non-null object
Surf_LSD                   118076 non-null object
Surf_Longitude             118076 non-null float64
Surf_Latitude              118075 non-null float64
Surf_TownshipRange         118076 non-null object
Surf_QuarterUnit           118076 non-null object
Surf_Unit                  118076 non-null object
Surf_Block                 118076 non-null object
Surf_NTSMapSheet           118076 non-null object
Surf_Series                118076 non-null object
Surf_Area                  118076 non-null object
Surf_Sheet                 118076 non-null object
Surf_QuarterSection        118076 non-null object
BH_Location                118076 non-null object
BH_TownshipRange           118076 non-null object
BH_QuarterUnit             118075 non-null object
BH_Unit                    118075 non-null object
BH_Block                   118075 non-null object
BH_NTSMapSheet             118076 non-null object
BH_Series                  118075 non-null object
BH_Area                    118075 non-null object
BH_Sheet                   118075 non-null object
BH_QuarterSection          111761 non-null object
BH_Longitude               111198 non-null float64
BH_Latitude                111198 non-null float64
BH_Township                118074 non-null object
BH_Meridian                118076 non-null object
BH_Range                   118074 non-null object
BH_Section                 118074 non-null object
BH_LSD                     118074 non-null object
GroundElevation            118017 non-null float64
KBElevation                116054 non-null float64
TotalDepth                 116727 non-null float64
LaheeClass                 118076 non-null object
Confidential               118076 non-null object
SurfaceOwner               115971 non-null object
OSArea                     111582 non-null object
OSDeposit                  111582 non-null object
DrillingContractor         117733 non-null object
SpudDate                   113070 non-null object
FinalDrillDate             107921 non-null object
RigReleaseDate             95545 non-null object
DaysDrilling               112785 non-null float64
DrillMetresPerDay          118070 non-null float64
TVD                        110450 non-null float64
WellProfile                118076 non-null object
WellSymbPt1                118076 non-null object
Country                    118076 non-null object
RegulatoryAgency           118076 non-null object
NumberofWells              118076 non-null int64
PSACAreaCode               118076 non-null object
PSACAreaName               118076 non-null object
ProjectedDepth             84586 non-null float64
StatusDate                 118057 non-null object
StatusSource               118076 non-null object
UnitID                     9312 non-null object
UnitName                   9312 non-null object
UnitFlag                   111537 non-null object
Municipality               24326 non-null object
CompletionDate             23871 non-null object
Agent                      118076 non-null object
_Max`Prod`(BOE)            40188 non-null float64
_Fracture`Stages           1595 non-null float64
_Open`Hole                 118076 non-null object
_Completion`Events         3422 non-null float64
dtypes: float64(16), int64(4), object(70)
memory usage: 81.1+ MB

## Header Validation File

In [46]:
df_clas_header_validation.shape

(132131, 90)

In [47]:
df_clas_header_validation.nunique()

EPAssetsId            132131
Province                   4
LicenceNumber         125962
UWI                   130765
CurrentOperator          913
                       ...
Agent                    439
_Max`Prod`(BOE)        21560
_Fracture`Stages          86
_Open`Hole                 2
_Completion`Events       170
Length: 90, dtype: int64

In [48]:
df_clas_header_validation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132131 entries, 0 to 132130
Data columns (total 90 columns):
EPAssetsId                 132131 non-null int64
Province                   132131 non-null object
LicenceNumber              132131 non-null object
UWI                        132130 non-null object
CurrentOperator            132131 non-null object
CurrentOperatorParent      132131 non-null int64
CurrentOperatorID          27993 non-null float64
Licensee                   132131 non-null object
LicenseeParentCompany      132131 non-null int64
LicenseeID                 2031 non-null float64
LicenceDate                132126 non-null object
WellType                   132131 non-null object
WellTypeStandardised       132131 non-null object
ConfidentialReleaseDate    69272 non-null object
SurfAbandonDate            35942 non-null object
WellName                   132034 non-null object
WellNameAmended            132034 non-null object
Formation                  132131 non-null object
Field                      132131 non-null object
Pool                       132086 non-null object
SurveySystem               132131 non-null object
Surf_Location              132066 non-null object
Surf_Township              132131 non-null object
Surf_Meridian              132131 non-null object
Surf_Range                 132131 non-null object
Surf_Section               132131 non-null object
Surf_LSD                   132131 non-null object
Surf_Longitude             132131 non-null float64
Surf_Latitude              132131 non-null float64
Surf_TownshipRange         132131 non-null object
Surf_QuarterUnit           132131 non-null object
Surf_Unit                  132131 non-null object
Surf_Block                 132131 non-null object
Surf_NTSMapSheet           132131 non-null object
Surf_Series                132131 non-null object
Surf_Area                  132131 non-null object
Surf_Sheet                 132131 non-null object
Surf_QuarterSection        132131 non-null object
BH_Location                132131 non-null object
BH_TownshipRange           132131 non-null object
BH_QuarterUnit             132131 non-null object
BH_Unit                    132131 non-null object
BH_Block                   132131 non-null object
BH_NTSMapSheet             132131 non-null object
BH_Series                  132131 non-null object
BH_Area                    132131 non-null object
BH_Sheet                   132131 non-null object
BH_QuarterSection          125660 non-null object
BH_Longitude               125082 non-null float64
BH_Latitude                125082 non-null float64
BH_Township                132130 non-null object
BH_Meridian                132130 non-null object
BH_Range                   132130 non-null object
BH_Section                 132130 non-null object
BH_LSD                     132130 non-null object
GroundElevation            132063 non-null float64
KBElevation                130049 non-null float64
TotalDepth                 130804 non-null float64
LaheeClass                 132131 non-null object
Confidential               132131 non-null object
SurfaceOwner               129623 non-null object
OSArea                     125492 non-null object
OSDeposit                  125492 non-null object
DrillingContractor         131793 non-null object
SpudDate                   126993 non-null object
FinalDrillDate             121664 non-null object
RigReleaseDate             103043 non-null object
DaysDrilling               126724 non-null float64
DrillMetresPerDay          132123 non-null float64
TVD                        124373 non-null float64
WellProfile                132131 non-null object
WellSymbPt1                132131 non-null object
Country                    132131 non-null object
RegulatoryAgency           132131 non-null object
NumberofWells              132131 non-null int64
PSACAreaCode               132131 non-null object
PSACAreaName               132131 non-null object
ProjectedDepth             88458 non-null float64
StatusDate                 132108 non-null object
StatusSource               132131 non-null object
UnitID                     9794 non-null object
UnitName                   9794 non-null object
UnitFlag                   125445 non-null object
Municipality               25908 non-null object
CompletionDate             24530 non-null object
Agent                      132131 non-null object
_Max`Prod`(BOE)            40211 non-null float64
_Fracture`Stages           1630 non-null float64
_Open`Hole                 132131 non-null object
_Completion`Events         3487 non-null float64
dtypes: float64(16), int64(4), object(70)
memory usage: 90.7+ MB

## Header train File

In [49]:
df_clas_header_train.shape

(588673, 90)

In [50]:
df_clas_header_train.nunique()

EPAssetsId            588673
Province                   4
LicenceNumber         485571
UWI                   582171
CurrentOperator         1468
                       ...
Agent                    929
_Max`Prod`(BOE)        86073
_Fracture`Stages         131
_Open`Hole                 2
_Completion`Events       305
Length: 90, dtype: int64

In [51]:
df_clas_header_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 588673 entries, 0 to 588672
Data columns (total 90 columns):
EPAssetsId                 588673 non-null int64
Province                   588673 non-null object
LicenceNumber              588673 non-null object
UWI                        588673 non-null object
CurrentOperator            588673 non-null object
CurrentOperatorParent      588673 non-null int64
CurrentOperatorID          124038 non-null float64
Licensee                   588673 non-null object
LicenseeParentCompany      588673 non-null int64
LicenseeID                 8537 non-null float64
LicenceDate                588664 non-null object
WellType                   588673 non-null object
WellTypeStandardised       588673 non-null object
ConfidentialReleaseDate    310703 non-null object
SurfAbandonDate            149148 non-null object
WellName                   588206 non-null object
WellNameAmended            588206 non-null object
Formation                  588673 non-null object
Field                      588673 non-null object
Pool                       588442 non-null object
SurveySystem               588673 non-null object
Surf_Location              588366 non-null object
Surf_Township              588673 non-null object
Surf_Meridian              588673 non-null object
Surf_Range                 588673 non-null object
Surf_Section               588673 non-null object
Surf_LSD                   588673 non-null object
Surf_Longitude             588673 non-null float64
Surf_Latitude              588673 non-null float64
Surf_TownshipRange         588673 non-null object
Surf_QuarterUnit           588673 non-null object
Surf_Unit                  588673 non-null object
Surf_Block                 588673 non-null object
Surf_NTSMapSheet           588673 non-null object
Surf_Series                588673 non-null object
Surf_Area                  588673 non-null object
Surf_Sheet                 588673 non-null object
Surf_QuarterSection        588673 non-null object
BH_Location                588673 non-null object
BH_TownshipRange           588673 non-null object
BH_QuarterUnit             588673 non-null object
BH_Unit                    588673 non-null object
BH_Block                   588673 non-null object
BH_NTSMapSheet             588673 non-null object
BH_Series                  588673 non-null object
BH_Area                    588673 non-null object
BH_Sheet                   588673 non-null object
BH_QuarterSection          558395 non-null object
BH_Longitude               555782 non-null float64
BH_Latitude                555782 non-null float64
BH_Township                588668 non-null object
BH_Meridian                588673 non-null object
BH_Range                   588668 non-null object
BH_Section                 588668 non-null object
BH_LSD                     588668 non-null object
GroundElevation            588371 non-null float64
KBElevation                579272 non-null float64
TotalDepth                 582541 non-null float64
LaheeClass                 588673 non-null object
Confidential               588673 non-null object
SurfaceOwner               577873 non-null object
OSArea                     557634 non-null object
OSDeposit                  557634 non-null object
DrillingContractor         587108 non-null object
SpudDate                   564917 non-null object
FinalDrillDate             540114 non-null object
RigReleaseDate             465455 non-null object
DaysDrilling               563617 non-null float64
DrillMetresPerDay          588630 non-null float64
TVD                        552435 non-null float64
WellProfile                588673 non-null object
WellSymbPt1                588673 non-null object
Country                    588673 non-null object
RegulatoryAgency           588673 non-null object
NumberofWells              588673 non-null int64
PSACAreaCode               588673 non-null object
PSACAreaName               588673 non-null object
ProjectedDepth             404812 non-null float64
StatusDate                 588603 non-null object
StatusSource               588673 non-null object
UnitID                     44299 non-null object
UnitName                   44299 non-null object
UnitFlag                   557380 non-null object
Municipality               116651 non-null object
CompletionDate             113144 non-null object
Agent                      588673 non-null object
_Max`Prod`(BOE)            187602 non-null float64
_Fracture`Stages           7685 non-null float64
_Open`Hole                 588673 non-null object
_Completion`Events         16329 non-null float64
dtypes: float64(16), int64(4), object(70)
memory usage: 404.2+ MB

## Well class train File

In [52]:
df_clas_well_class_train.shape

(588673, 3)

In [53]:
df_clas_well_class_train.nunique()

EPAssetsId          588673
well_status              3
well_status_code         3
dtype: int64

In [54]:
df_clas_well_class_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 588673 entries, 0 to 588672
Data columns (total 3 columns):
EPAssetsId          588673 non-null int64
well_status         588673 non-null object
well_status_code    588673 non-null int64
dtypes: int64(2), object(1)
memory usage: 13.5+ MB

In [55]:
df_clas_well_class_train.head(50)

    EPAssetsId well_status  well_status_code
0      2314251   Suspended                 2
1      2341273      Active                 1
2      1086314   Abandoned                 0
3      2210835   Abandoned                 0
4        40946   Suspended                 2
5      1061238      Active                 1
6      1010329      Active                 1
7      2012754   Abandoned                 0
8      2133646   Abandoned                 0
9      2569043      Active                 1
10     2461270   Suspended                 2
11     1150331      Active                 1
12     1093024      Active                 1
13     1118037   Abandoned                 0
14     2370950   Suspended                 2
15     1045997      Active                 1
16     2105311   Abandoned                 0
17     1082233   Abandoned                 0
18     2484260   Abandoned                 0
19     1104272   Suspended                 2
20     2438366      Active                 1
21     2585489      Active                 1
22     2556099   Abandoned                 0
23     2359955   Abandoned                 0
24     2280993   Abandoned                 0
25     2405272   Abandoned                 0
26     1135704      Active                 1
27     2083371      Active                 1
28     1148297      Active                 1
29     2040816      Active                 1
30     2281780   Abandoned                 0
31     2066969   Abandoned                 0
32     2236001   Suspended                 2
33     2564023   Abandoned                 0
34     2365118      Active                 1
35     2102467   Suspended                 2
36     1050938   Abandoned                 0
37     2347980   Suspended                 2
38     2142192   Abandoned                 0
39     2373070   Suspended                 2
40     2563239   Abandoned                 0
41       31800   Suspended                 2
42     2617825      Active                 1
43     2221100   Suspended                 2
44     2575823      Active                 1
45     2229029      Active                 1
46     2357291      Active                 1
47     1085127   Abandoned                 0
48     2086219   Suspended                 2
49     2083791      Active                 1

In [56]:
df_clas_well_class_train.describe()

         EPAssetsId  well_status_code
count  5.886730e+05     588673.000000
mean   2.019055e+06          0.759097
std    9.069427e+05          0.737610
min    1.000000e+00          0.000000
25%    2.001535e+06          0.000000
50%    2.210924e+06          1.000000
75%    2.420443e+06          1.000000
max    7.012320e+06          2.000000

## Well Class Validation File

In [57]:
df_clas_well_class_validation.shape

(132131, 3)

In [58]:
df_clas_well_class_validation.nunique()

EPAssetsId          132131
well_status              3
well_status_code         3
dtype: int64

In [59]:
df_clas_well_class_validation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132131 entries, 0 to 132130
Data columns (total 3 columns):
EPAssetsId          132131 non-null int64
well_status         132131 non-null object
well_status_code    132131 non-null int64
dtypes: int64(2), object(1)
memory usage: 3.0+ MB

In [60]:
df_clas_well_class_validation.head()

   EPAssetsId well_status  well_status_code
0           9   Suspended                 2
1          17      Active                 1
2          23   Abandoned                 0
3          37      Active                 1
4          39      Active                 1

In [61]:
df_clas_well_class_validation.describe()

         EPAssetsId  well_status_code
count  1.321310e+05     132131.000000
mean   2.028815e+06          0.724955
std    9.144068e+05          0.738822
min    9.000000e+00          0.000000
25%    2.003216e+06          0.000000
50%    2.215400e+06          1.000000
75%    2.422774e+06          1.000000
max    7.012319e+06          2.000000